body {
    align-content: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.main{
    margin-left: 15%;
    margin-right: 15%;
}

.header-js {
    display: flex;
    justify-content: space-between;
}

.follows-info {
    justify-content: center;
    width: 180px;
    align-items: center;
    text-align: center;
    line-height: 3px;
    border: solid;
    float: left;
    margin-bottom: 15px;
    padding: 0.5em;
}

.follows-info__header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.follows-info__header--img{
    height: 20px;
    width: 20px;
}

.follows-info__header--text{
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
}

.follows-info__content{
    justify-content: center;
}

.follows-info__content--count{
    font-size: 38px;
}

.follows-info__content--text{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.follows-info__footer{
    align-items: center;
    display: flex;
    justify-content: center;
}

.follows-info__footer--img{
    height: 5px;
    width: 10px;
}

.follows-info__footer--text{
    margin-left: 5px;
    font-weight: bold;
    font-size: 11px;
}


.first-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-general {
    border: solid;
    width: 180px;
    margin-bottom: 15px;
    height: 100px;
    float: left;
    padding: 0.5em;
}

.main-general__metric {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.main-general__content {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.main-general__content--cont {
    display: flex;
}

.main-general__content--img {
    height: 5px;
    width: 10px;
    margin-top: 23px;
    margin-right: 2px;
}

