body {
    align-content: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #8b97c6;
    background: linear-gradient(to top, hsl(230, 17%, 14%) 70%, hsl(232, 19%, 15%) 30%);
}

.main{
    margin-left: 15%;
    margin-right: 15%;
}

.main__js__network__color{
    background-color: white;
    height: 100%;
    border-radius: 5px;
}


.header-js {
    display: flex;
    justify-content: space-between;
}

.title {
    line-height: 10px;
    margin-bottom: 30px;
}

.total-follows {
    font-weight: bold;
}

.dark-word {
    font-weight: bold;
    color: #ffffff;
}

.title--text {
    color: #ffffff;
}

.follows-info {
    justify-content: center;
    width: 200px;
    align-items: center;
    text-align: center;
    line-height: 3px;
    float: left;
    margin-bottom: 15px;
    padding: 0.65em;
    padding-bottom: 0;
    background-color: hsl(228, 28%, 20%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 98%;
    margin-top: 3px;
    cursor: pointer;
}

.follows-info:hover{
    background-color: #32374e;
}

.follows-info__header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.follows-info__header--img{
    height: 20px;
    width: 20px;
}

.follows-info__header--text{
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
}

.follows-info__content{
    justify-content: center;
}

.follows-info__content--count{
    font-size: 38px;
    color: #ffffff;
}

.follows-info__content--text{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.follows-info__footer{
    margin-top: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.follows-info__footer--img{
    height: 5px;
    width: 10px;
}

.follows-info__footer--text{
    margin-left: 5px;
    font-weight: bold;
    font-size: 11px;
}


.first-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-overview--text{
    margin-top: 30px;
    font-size: 25px;
    color: #ffffff;
}


.main-general {
    width: 200px;
    margin-bottom: 15px;
    height: 80px;
    float: left;
    padding: 0.8em;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.main-general:hover{
    background-color: #32374e;
}

.main-general__metric {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.main-general__content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-general__content--count {
    font-size: 22px;
    margin-top: 0;
    color: #ffffff;
}

.main-general__content--cont {
    display: flex;
}

.main-general__content--img {
    height: 5px;
    width: 10px;
    margin-top: 17px;
    margin-right: 4px;
}



@media all and (max-width: 700px){
    body{
        align-items: center;
        justify-content: center;
    }

    .main {
        margin-left: 15px;
    }
    .main__js{
        padding: 0.8em;
    }

    .header-js{
        display: block;
        margin-left: 15px;
    }

    .main-overview--text{
        margin-left: 15px;
    }

    .title--text{
        font-size: 20px;
        line-height: 10px;
        text-overflow: unset;
    }

    .follows-info{
        display: block;
        width: 290px;
        padding: 0.5;
    }

    .main-general{
        display: block;
        width: 290px;
        margin-left: 15px;
    }
}