body {
    align-content: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.main{
    margin-left: 20%;
    margin-right: 20%;
}

.header-js {
    display: flex;
    justify-content: space-between;
}


.first-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

